<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{% block title %}Main page{% endblock %}</title>
</head>

<body>
  <main role="main" class="container">
    <div class="starter-template py-5 px-3">
      {% block content %}

      <h2 class="text-center">Predicting the probability of a candidate's interest </h2>
      <br>
      <div class="text-center">
        <p></p>
        <a href="{{ url_for('predict_form') }}" class="btn btn-primary">Entering data</a>
      </div>
      {% endblock %}

    </div>
  </main>
</body>

</html>